:root {
  --rouge: #d7132d;
  --vert: #00ff9f;
  --bourgogne: #74123c;
  --bleu: #061148;
  --gris: #292728;
}

/*----- STYLES GÉNÉRAUX -----*/
.application {
  aspect-ratio: 5/9;
  border: 4px solid #c70a23;
  border-radius: 25px;
  overflow: hidden;
  filter: drop-shadow(30px 6px 4px #c70a23);
}

/*-- section-features -- */
.section-features {
  margin: 20px;
  padding: 30px;
}

.Fonctionnalités {
  border: 5px solid var(--bleu);
  background-color: var(--bleu);
  border-radius: 25px;
  margin: 8px;
  padding: 8px;
}

.programmation {
  border: 5px solid var(--bleu);
  background-color: var(--bleu);
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

.horaire {
  border: 5px solid var(--bleu);
  background-color: var(--bleu);
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

.catalogue {
  border: 5px solid var(--bleu);
  background-color: var(--bleu);
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

.billets {
  border: 5px solid var(--bleu);
  background-color: var(--bleu);
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

.amis {
  border: 5px solid var(--bleu);
  background-color: var(--bleu);
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

.contrôle {
  border: 5px solid var(--bleu);
  background-color: var(--bleu);
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}
/*----- section-testimonials -----*/
.joseph {
  height: 20vh;
  object-fit: cover;
  width: 20vh;
}

.luis {
  height: 20vh;
  object-fit: cover;
  width: 20vh;
}

.dog {
  height: 20vh;
  object-fit: cover;
  width: 20vh;
}

.brooks {
  height: 20vh;
  object-fit: cover;
  width: 20vh;
}

.gertrude {
  height: 20vh;
  object-fit: cover;
  width: 20vh;
}

.oladimeji {
  height: 20vh;
  object-fit: cover;
  width: 20vh;
}

.section-testimonials img {
  border: 4px solid #c70a23;
  border-radius: 25px;
  overflow: hidden;
}

.temoignages{
  border: 3px solid var(--bleu);
  background-color: var(--bleu);
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
}

.gonzalez {
  border: 3px solid var(--bleu);
  background-color: var(--bleu);
  border-radius: 15px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.villasmil {
  border: 3px solid var(--bleu);
  background-color: var(--bleu);
  border-radius: 15px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.woof {
  border: 3px solid var(--bleu);
  background-color: var(--bleu);
  border-radius: 15px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.leibee {
  border: 3px solid var(--bleu);
  background-color: var(--bleu);
  border-radius: 15px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.pistache {
  border: 3px solid var(--bleu);
  background-color: var(--bleu);
  border-radius: 15px;
  margin-top: 10px;
  padding-top: 10px;
}

.odunis {
  border: 3px solid var(--bleu);
  background-color: var(--bleu);
  border-radius: 15px;
  margin-top: 10px;
  padding-top: 10px;
}
.section-testimonials {
  padding: 30px;
}
/*----- SECTION HÉROS -----*/

/*----- SECTION FOOTER -----*/
a.github{
  color: white;
  text-decoration: none;
}
