/*----- STYLES GÉNÉRAUX -----*/


/*----- NAVBAR -----*/
.navbar {
    background-color: var(--bleu);
    position: relative;
}

.nav-link {
    font-size: 15px;
    color: var(--vert);
    font-family: var(--poppins);
}

.nav-link:hover {
    color: var(--vert);
}

.nav-link:focus {
    color: var(--vert);
}

.navbar-toggler:focus {
    box-shadow: none;
}


/*----- FOOTER -----*/
footer {
    background: var(--gris);
}

/*----- SECTION HÉROS -----*/

/*----- SEARCHBAR -----*/
.searchbar {
    background-color: var(--bourgogne);
    color: #ebebeb;
    padding: 10px 0;
    font-family: var(--poppins);
    font-size: 14px;
}

.searchbar::placeholder {
    color: #ebebeb;
    font-family: var(--poppins);
    font-size: 14px;
}

.searchbar:focus {
    background-color: var(--bourgogne);
    color: #ebebeb;
    box-shadow: none;
}

.bi-search {
    font-size: 1.2rem;
    color: #ebebeb;
    position: absolute;
    margin-left: 1rem;
    margin-top: 7px;
}

/*----- FILTER -----*/
.btn {
    border-radius: 25px;
    background-color: var(--bleu);
    color: var(--vert);
    font-family: var(--poppins);
    font-size: 14px;
    border-style: none;
}

.btn:hover {
    color: var(--vert);
    background-color: #050b2e;
}

/*----- DIVISION -----*/

.division {
    position: relative;
    margin: 35px auto;
    width: 70%;
    height: 3px;
    background-color: var(--gris);
    border-radius: 25px;
}

/*----- EN VEDETTE -----*/

h2 span {
    background-color: var(--bleu);
    border-radius: 25px;
}

/*----- EN VEDETTE - CARTES -----*/

.card {
    background-color: var(--bleu);
    transition-property: transform;
    transition-duration: 0.5s;
    transform: scale(1);
    max-width: 200px;
}

#cards-x {
    width: 140%;
}

.card:hover {
    transform: scale(1.05);
}

.img-fluid {
    height: auto;
    object-fit: contain;
    border: 3px solid var(--rouge);
}

/*
.img-fluid {
    height: 20vh;
    object-fit: cover;
    border: 3px solid var(--rouge);
    border-radius: 10%;
}*/

.card-division {
    position: relative;
    margin: 15px auto;
    width: 85%;
    height: 3px;
    background-color: var(--rouge);
    border-radius: 25px;
}

.card-title {
    font-size: 16px;
    font-weight: 700;
    color: var(--vert);
    font-family: var(--poppins);
}

.artistname {
    font-size: 14px;
    font-weight: 400;
    color: var(--vert);
    font-family: var(--poppins);
}

.date {
    font-size: 12px;
    font-weight: 400;
    color: var(--vert);
    font-family: var(--poppins);
}

.infos {
    font-size: 14px;
    font-weight: 400;
    color: var(--vert);
    font-family: var(--poppins);
}