/*----- STYLES GÉNÉRAUX -----*/

.navbar {
    background-color: var(--bleu);
    position: relative;
}

footer {
    background: var(--gris);
}

/*----- SECTION HÉROS -----*/

input[type='text'] {
    background-color: var(--bourgogne);
    color: #ebebeb;
}

::placeholder {
    color: #ebebeb;
}

.searchbar:focus {
    background-color: var(--bourgogne);
    color: #ebebeb;
}