/*----- STYLES GÉNÉRAUX -----*/
.application {
    aspect-ratio: 5/9;
    border: 4px solid #c70a23;
    border-radius: 25px;
    overflow: hidden;
    filter: drop-shadow(30px 6px 4px #c70a23);
}










/*----- SECTION HÉROS -----*/