/*----- STYLES GÉNÉRAUX -----*/

.navbar {
    background-color: var(--bleu);
    position: relative;
}

footer {
    background: var(--gris);
}

/*----- SECTION HÉROS -----*/

.searchbar {
    background-color: var(--bourgogne);
    color: #ebebeb;
}

.searchbar::placeholder {
    color: #ebebeb;
}

.searchbar:focus {
    background-color: var(--bourgogne);
    color: #ebebeb;
}